body
	{
		background-color: green;
		font-family: Calibri;
		font-size: 14pt;
		margin-left:14%;
		margin-right: 14%;
		background-image:url("http://i.imgur.com/FfCiWit.jpg");
	}
		
h1
	{
		color: #0F0;
		text-align: center;
		text-decoration: underline;
	}

ol
	{
		font-weight: bold;
		font-family: Verdana;
		color: #0f0;
	}
		
p
	{
		font-weight:bold;
		font-size:15pt;

	}


		
a:hover
	{
		color: red;
		text-transform: uppercase;
		letter-spacing: 15px;
		background-color: lime;
		font-size: 150%;
	}
	
#div1

	{
		background-color: blue;
		color: white;
		font-family: "arial";




	}
	
span.span1

	{
		font-style:italic;
		font-weight:bold;
		text-transform:uppercase;
		font-family: "arial";
		color:green;
	}
	
#drop
	{
		float: left;
		font-size: 28px;
		background-color: #90ee90;
		border-width: 3px;
		border-color: #2e8b57;
		border-style: outset;

	}
